body{
	font-family: Arial, "Microsoft YaHei", sans-serif;
}

h1{
	color: white;
	background-color: DodgerBlue;
	float:left;
	width: 200px;
	text-align: center;
	height: 690px;
	padding-top: 40px;
}

#main{
	float:left;
	margin-left: 20px;
	margin-top: 20px;
}

ul{
	list-style-type: none;
	margin-left: -35px;
}

.li_key{
	font-weight: bold;
}

.li_key + span {
	margin-right:20px;
	margin-left: 10px;
}

.title{
	font-weight: bold;
}

.title + div{
	margin-bottom: 15px;
}
