
.hello {
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	height: 495px;
	background-color: #141414;
	opacity: 0.65;
	background-image: url("images/hello_bkg.png");
}

.hello p:first-child {
	margin-top: 104px;
	text-align: center;
	font-size: 31px;
	color: #ffffff;
}

.hello:nth-child(2) {
	margin-top: 43px;
	margin: 0 auto;
	text-align: center;
	font-size: 10px;
	color: #ffffff;
	opacity: 0.7;
}

.account {
	width: 485px;
	height: 125px;
	margin-top: 52px;
	margin-left: calc((100% - 485px) / 2);
	border-radius: 1px;
	border: solid 1px #ffffff;
	margin-bottom: 105px;
}

.account:nth-child(1) {
	display: inline-block;
	margin-top: 31px;
	width: 100%;
	text-align: center;
	font-size: 8px;
	letter-spacing: 1px;
	color: #ffffff;
}

.account:nth-child(2) {
	display: inline-block;
	margin-top: 10px;
	width: 100%;
	font-size: 6px;
	letter-spacing: 1px;
	color: #ffffff;
	opacity: 0.3;
}

#name {
	width: 146px;
	height: 25px;
	margin-left: 50px;
	margin-top: 23px;
	border-radius: 1px;
	border: solid 1px #ffffff 0.2;
	font-size: 7px;
	color: #ffffff;
}

#password {
	width: 146px;
	height: 25px;
	margin-left: 15px;
	margin-top: 23px;
	border-radius: 1px;
	border: solid 1px #ffffff 0.2;
	font-size: 7px;
	color: #ffffff;
	opacity: 0.3;
}

#signUp {
	width: 63px;
	height: 25px;
	margin-left: 15px;
	margin-top: 23px;
	background-color: #ffffff;
	border-radius: 1px;
	font-size: 6px;
	letter-spacing: 1px;
	color: #141414;
}

.sections :nth-child(1) {
	margin-top: 45px;
	text-align: center;
	font-size: 7px;
	letter-spacing: 1px;
	color: #141414;
}

.sections :nth-child(2) {
	margin-top: 20px;
	text-align: center;
	font-size: 21px;
	color: #141414;
}

.sectionsContainer {
	margin-top: 43px;
	margin-left: 148px;
	margin-right: 148px;
	display: flex;
	flex-wrap: wrap;
}

.sectionsContainer div {
	flex: 1 212px;
	justify-content: space-between;
	margin-left: 90px;
}

.sections div img {
	float: left;
	width: 25px;
	height: 25px;
}


.sectionsContainer div :nth-child(2) {
	margin-top: 0;
	margin-left: 40px;
	font-size: 10px;
	color: #141414;
	text-align: left;

}

.sectionsContainer div :nth-child(3) {
	margin-left: 40px;
	font-size: 8px;
	color: #141414;
	opacity: 0.7;
	text-align: left;
}

.policies {
	margin: 0;
	display: flex;
	background-image: url("images/policies_bkg.png");
}

.policies div {
	flex: 1;
}

.policies div p:nth-of-type(1) {
	margin-top: 92px;
	margin-left: 158px;
	font-size: 21px;
	color: #ffffff;
}

.policies div p:nth-of-type(2) {
	margin-top: 24px;
	margin-left: 158px;
	font-size: 9px;
	color: #ffffff;
	opacity: 0.7;
}

.policies a {
	display: inline-block;
	margin-top: 29px;
	margin-bottom: 93px;
	border-radius: 1px;
	font-size: 6px;
	letter-spacing: 1px;
	text-decoration: none;
}

.policies a:nth-of-type(1) {
	margin-left: 158px;
	padding: 13px 19px;
	background-color: #ffffff;
	color: #141414;
}

.policies a:nth-of-type(2) {
	margin-left: 15px;
	padding: 13px 14px;
	border: solid 1px #ffffff;
	opacity: 0.3;
	color: #ffffff;
}

.infoContainer {
	margin: 52px 0 48px 38px;
	background-image: url("images/ipad.png");
}

.infoContainer > div {
	display: flex;
}

.infoContainer div div {
	flex: 1;
}

.products {
	height: 290px;
	width: 100%;
	margin-top: 0;
	border-bottom: solid 1px gray;
}

.products p {
	margin-top: 50px;
	font-size: 21px;
	color: #141414;
	text-align: center;
}

.products > div {
	display: flex;
	margin-left: 160px;
	margin-right: 160px;
	margin-bottom: 40px;
}

.products div div {
	flex: 1;
}

#schemes {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 158px 0 158px;
}

#schemes > .schemes-item:nth-of-type(1) {
	flex: 285px;
	margin-top: 59px;
}

#schemes > .schemes-item:nth-of-type(2) {
	flex: 153px;
	margin-top: 95px;
	margin-left: 53px;
}

#schemes > .schemes-item:nth-of-type(3) {
	flex: 153px;
}

#schemes > .schemes-item:nth-of-type(4) {
	flex: 285px;
}

#schemes img {
	width: 285px;
	height: 175px;
	object-fit: cover;
}

#schemes div p:nth-of-type(1) {
	font-size: 10px;
	color: #141414;
}

#schemes div p:nth-of-type(2) {
	font-size: 8px;
	color: #141414;
	opacity: 0.7;
}

#crew p:nth-of-type(1) {
	font-size: 21px;
	color: #141414;
	margin-top: 50px;
	text-align: center;
}

#crew p:nth-of-type(2) {
	font-size: 9px;
	color: #141414;
	opacity: 0.7;
	margin-top: 18px;
	text-align: center;
}

#crew > div {
	display: flex;
	flex-wrap: wrap;
	margin: 32px 158px 48px 158px;
}

#crew > div > div {
	flex: 1;
	object-fit: cover;
}

#crew div div a img {
	width: 235px;
	height: 170px;
	object-fit: cover;
}

#crew div div a {
	margin: 0;
	opacity: 0.6;
}

#crew div div a:hover {
	background-color: #141414;
	opacity: 0.65;
}

#contacts {
	display: flex;
}

#contacts > div {
	flex: 1;
}

#contacts div:first-child {
	border-radius: 5px;
	border: solid 1px #141414;
	margin: 10% 8% 10% 20%;
}

#contacts div:nth-child(2) {
	margin-right: 20%;
}

#contacts div:first-child p {
	font-size: 8px;
	letter-spacing: 1px;
	color: #141414;
	text-align: center;
	margin-top: 9%;
}

#contacts div input {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5%;
}

#contacts div textarea {
	border-radius: 1px;
	border: solid 1px #262321;
	margin-top: 5%;
	margin-left: 10%;
	margin-right: 10%;
}

/*button*/
#contacts div input {
	/*margin-left: 10%;
	margin-right: 10%;
	margin-top: 5%;
	background-color: #141414;
	border-radius: 1px;*/
}

#contacts div:nth-child(2) > p:nth-of-type(1) {
	font-size: 21px;
	color: #141414;
	margin-top: 23%;
}

#contacts div:nth-child(2) p:nth-of-type(2) {
	font-size: 8px;
	color: #141414;
	opacity: 0.7;
	margin-top: 6%;
}

#contacts ul {
	list-style-type: none;
}

#contacts ul li p {
	font-size: 8px;
	color: #141414;
}

#contacts img {
	width: 12px;
	height: 12px;
	object-fit: contain;
	float: left;
}