#hello {
	height: 495px;
	background-image: url("images/hello_bkg.png");
}

#hello > p:nth-of-type(1) {
	margin-top: 104px;
	text-align: center;
	font-size: 31px;
	color: #ffffff;
}

#hello > p:nth-of-type(2) {
	margin-top: 43px;
	text-align: center;
	font-size: 10px;
	color: #ffffff;
	opacity: 0.7;
}

.account {
	margin: 52px 20% 105px 20%;
	border-radius: 1px;
	border: solid 1px rgb(234,234,234);
}

.account > p:nth-of-type(1) {
	margin-top: 31px;
	text-align: center;
	font-size: 8px;
	letter-spacing: 1px;
	color: #ffffff;
}

.account > p:nth-of-type(2) {
	margin-top: 10px;
	font-size: 6px;
	text-align: center;
	letter-spacing: 1px;
	color: #ffffff;
	opacity: 0.3;
}

.account > input[type="text"] {
	margin-left: 3%;
	margin-top: 23px;
	margin-bottom: 26px;
	color: #ffffff;
	padding:9px 11px;
	border-radius: 1px;
	border: solid 1px #ffffff;
	opacity: 0.2;
}

.account > input[type="text"]:nth-of-type(1) {
	margin-left: 10%;
}

.account > input[type="button"] {
	margin-left: 3%;
	margin-top: 23px;
	margin-bottom: 26px;
	color: #141414;
	padding:10px 17px;
	border-radius: 1px;
	border: solid 1px #ffffff;
	font-size: 6px;
	background-color: #ffffff;
}

#sections p:nth-of-type(1) {
	margin-top: 45px;
	text-align: center;
	font-size: 7px;
	letter-spacing: 1px;
	color: #141414;
}

#sections p:nth-of-type(2) {
	margin-top: 20px;
	text-align: center;
	font-size: 21px;
	color: #141414;
}

#sections .container {
	margin-top: 43px;
	margin-left: 148px;
	margin-right: 148px;
	display: flex;
	flex-wrap: wrap;
}

#sections .container > div {
	flex: 1 208px;
	justify-content: space-between;
	margin-left: 90px;
}

#sections .container > div:nth-of-type(3) {
	margin-top: 40px;
}

#sections .container > div:nth-of-type(4) {
	margin-top: 40px;
	margin-bottom: 58px;
}

#sections .container > div:nth-of-type(3) {
	flex: 1 208px;
	justify-content: space-between;
	margin-left: 90px;
}

#sections div img {
	float: left;
	width: 25px;
	height: 25px;
	object-fit: contain;
}

#sections .container div :nth-child(2) {
	margin-top: 0;
	margin-left: 40px;
	font-size: 10px;
	color: #141414;
	text-align: left;
}

#sections .container div :nth-child(3) {
	margin-left: 40px;
	margin-top: 13px;
	font-size: 8px;
	color: #141414;
	opacity: 0.7;
	text-align: left;
}


#policies {
	display: flex;
	background-image: url("images/policies_bkg.png");
}

#policies > div {
	flex: 1;
}

#policies > div > p:nth-of-type(1) {
	margin-top: 92px;
	margin-left: 158px;
	font-size: 21px;
	color: #ffffff;
}

#policies div p:nth-of-type(2) {
	margin-top: 24px;
	margin-left: 158px;
	font-size: 9px;
	color: #ffffff;
	opacity: 0.7;
}

#policies a {
	display: inline-block;
	margin-top: 29px;
	border-radius: 1px;
	font-size: 6px;
	letter-spacing: 1px;
	text-decoration: none;
	margin-bottom: 93px;
}

#policies a:nth-of-type(1) {
	margin-left: 158px;
	padding: 13px 19px;
	background-color: #ffffff;
	color: #141414;
}

#policies a:nth-of-type(2) {
	margin-left: 15px;
	padding: 13px 14px;
	border: solid 1px #ffffff;
	opacity: 0.3;
	color: #ffffff;
}

#policies .infoContainer {
	margin: 52px -10% 48px 38px;
}

#policies .infoContainer > img {
	object-fit: contain;
}

#products {
	margin: 0;
	border-bottom: solid 1px rgb(234,234,234);
}

#products > p {
	margin-top: 50px;
	font-size: 21px;
	color: #141414;
	text-align: center;
}

#products > div {
	display: flex;
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 40px;
	margin-top: 43px;
}

#products > div > div {
	flex: 17%;
	margin-left: 3%;
}

#products div img {
	display: block;
	margin: auto;
}

#products > div p {
	margin-top: 20px;
	font-size: 8px;
	color: #141414;
	opacity: 0.7;
}

#schemes {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 57px 20% 53px 20%;
}

#schemes img {
	object-fit: contain;
}

#schemes .schemes-item {
	flex: 1 20%;
}

#schemes .schemes-item:nth-of-type(2) {
	margin-top: 37px;
	margin-left: 53px;
}

#schemes .schemes-item:nth-of-type(3) {
	margin-top: 76px;
}

#schemes .schemes-item:nth-of-type(4) {
	margin-top: 43px;
	margin-left: 40px;
}

#schemes img {
	width: 285px;
	height: 175px;
	object-fit: cover;
}

#schemes .schemes-item p:nth-of-type(1) {
	font-size: 10px;
	color: #141414;
}

#schemes .schemes-item p:nth-of-type(2) {
	font-size: 8px;
	color: #141414;
	opacity: 0.7;
	margin-top: 18px;
}

#crew {
	border-top: solid 1px rgb(234,234,234);
	border-bottom: solid 1px rgb(234,234,234);
}

#crew > p:nth-of-type(1) {
	font-size: 21px;
	color: #141414;
	margin-top: 50px;
	text-align: center;
}

#crew > p:nth-of-type(2) {
	font-size: 9px;
	color: #141414;
	opacity: 0.7;
	margin-top: 18px;
	text-align: center;
}

#crew > div {
	display: flex;
	flex-wrap: wrap;
	margin: 32px 20% 48px 20%;
}

#crew > div > div {
	flex: 1;
	object-fit: cover;
	margin-left: 4%;
}

#crew a > img {
	width: 235px;
	height: 170px;
	object-fit: cover;
}

#crew div div a {
	margin: 0;
	opacity: 0.6;
}

#crew div div a:hover {
	background-color: rgb(234,234,234);
	opacity: 0.65;
}

#contacts {
	display: flex;
	margin: 35px 20% 35px 20%;

}

#contacts > div {
	flex: 1;

}

#contacts div:first-child {
	border-radius: 5px;
	border: solid 1px rgb(234,234,234);
	width: 29%;
}

#contacts div:nth-child(2) {
}

#contacts div:first-child p {
	font-size: 8px;
	letter-spacing: 1px;
	color: #141414;
	text-align: center;
	margin-top: 35px;
}

#contacts div input {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 15px;
	padding:10px 11px;
	border-radius: 1px;
	border: solid 1px rgb(234,234,234);
}

#contacts div textarea {
	border-radius: 1px;
	border: solid 1px #262321;
	margin-top: 15px;
	margin-left: 10%;
	margin-right: 10%;
	padding:9px 11px;
	border-radius: 1px;
	border: solid 1px rgb(234,234,234);
}

#contacts div input[type="button"] {
	margin: 15px 10% 33px 10%;
	background-color: #141414;
	border-radius: 1px;
	height: 25px;
	width: 185px;
	background-color: #141414;
	border-radius: 1px;
	font-size: 6px;
	letter-spacing: 1px;
	color: #ffffff;
}

#contacts div:nth-child(2) {
	margin-left: 8%;
}

#contacts div:nth-child(2) > p:nth-of-type(1) {
	font-size: 21px;
	color: #141414;
	margin-top: 44px;
}

#contacts div:nth-child(2) p:nth-of-type(2) {
	font-size: 8px;
	color: #141414;
	opacity: 0.7;
	margin-top: 20px;
}

#contacts ul {
	list-style-type: none;
	margin-top: 35px;
	padding: 0;
}

#contacts ul li {
	margin-top: 20px;
}

#contacts ul li p {
	font-size: 8px;
	color: #141414;
	margin-left: 22px;
}

#contacts img {
	width: 12px;
	height: 12px;
	object-fit: contain;
	float: left;
}

#footer {
	display: flex;
	background-color: #141414;
}

#footer div {
	flex: 1;
}

#footer div:last-child {
	flex: 1.5;
}

#footer ul {
	list-style-type: none;
	margin: 44px 14% 62px 14%;
}

#footer ul li {
	font-size: 8px;
	color: #ffffff;
	opacity: 0.3;
	margin-top: 18px;
}

#footer ul li:first-child {
	font-size: 7px;
	letter-spacing: 1px;
	color: #ffffff;
	opacity: 1;
	margin-top: 0;
}

#footer ul:last-child {
}

#footer li > img {
	width: 9px;
	height: 9px;
	object-fit: contain;
	margin-left: 7px;
}

#footer li > img:first-child {
	margin-left: 0;
}
