.main {
	height: 100vh;
	display: flex;
	flex-direction: row;
}

#navBar {
	min-width: 100px;
	background-color: #1d2531;
}

#navBar > img {
	width: 60px;
	height: 60px;
	margin: 20px;
}

#navBar #bottomBar {
	position: absolute;
	bottom: 0;
	left: 0;
}

#navBar #grid {
	width: 16px;
	height: 16px;
	margin: 20px 10px 20px 26px;
}

#navBar #setting {
	width: 16px;
	height: 16px;
	margin: 20px 26px 20px 10px;
}

#menu {
	min-width: 250px;
	background-color: #222c3c;
	overflow-y: auto;
}

#menu::-webkit-scrollbar {
    display: none;
}

#menu ul {
	list-style-type: none;
	padding: 0;
}

#menu > ul {
	padding: 30px;
}


#menu ul li {
	margin-bottom: 20px;
	font-size: 14px;
	color: #b7c0cd;
}

#menu ul ul li:first-child {
	font-size: 12px;
	color: #5b6779;
}

#menu > ul li:nth-of-type(2) img {
	width: 18px;
	height: 18px;
	object-fit: contain;
	margin-right: 12px;
}

#menu li ul li:first-child > img {
	width: 16px;
	height: 16px;
	float: right;
}

#menu li ul:nth-of-type(1) {
	border-bottom: solid 1px #5b6779;
}

#menu li ul:nth-of-type(2) {
	border-bottom: solid 1px #5b6779;
}

#menu #capacity {
	margin-bottom: 0;
}

#menu #capacity > span {
	font-size: 14px;
	color: #ffffff;
}

#menu #capacity span:nth-of-type(2) {
	float: right;
}

#menu #capacity #base {
	margin: 14px 0 0 0;
	height: 4px;
	background-color: #475364;
	border-radius: 2px;
}

#menu #capacity #fill {
	width: 40px;
	height: 4px;
	background-image: linear-gradient(90deg, 
		#7f5be6 1%, 
		#9d8fe3 100%);
	border-radius: 2px;
}

#content #header {
	height: 80px;
	background-color: #ffffff;
	box-shadow: 0px 1px 1px 0px 
		rgba(0, 0, 0, 0.05);
}

#content #header > span {
	font-size: 24px;
	color: #354052;
	line-height: 80px;
	margin-left: 30px;
}

#content #header > div {
	float: right;
	display: flex;
}

#content #header img:first-child {
	width: 50px;
	height: 50px;
	margin: 14px 16px 16px 0;
	object-fit: cover;
}

#content #header img:last-child {
	width: 11px;
	height: 10px;
	margin: 35px 31px 35px 40px;
}

#content #header div p:nth-of-type(1) {
	font-size: 16px;
	color: #2399f1;
}

#content #header div p:nth-of-type(2) {
	font-size: 14px;
	color: #b5b5b5;
}

#content #messages {
	display: flex;
	width: 100%;
}

#content #messages #list {
	width: 400px;
	border-right: solid 1px #e6e9ec;
}

#content #messages #detail {
	width: calc(100vw - 750px);
}

#content .search {
	border-bottom: solid 1px #e6e9ec;
}

#content #list .search input {
	margin: 17px 30px;
	height: 36px;
	width: calc(400px - 30px * 2);
	border-radius: 2px;
	border: solid 1px #e5e8ee;
}

#content #list .search input::placeholder {
	font-size: 14px;
	color: #9fa9ba;
	opacity: 0.8;
}

#content #list ul {
	list-style-type: none;
	padding: 0;
	overflow-y: auto; 
	height: calc(100vh - 150px);
	margin: 0;
}

#content #list ul::-webkit-scrollbar {
    display: none;
}

#content #list ul li {
	border-bottom: solid 1px #e6e9ec;
	padding: 16px 23px 23px 29px;
}

#content #list ul li span:nth-of-type(1) {
	display: inline-block;
	font-size: 16px;
	color: #585d68;
	margin-top: 8px;
	margin-left: 20px;
}

#content #list ul li span:nth-of-type(2) {
	float: right;
	font-size: 14px;
	color: #7f8fa4;
	margin-top: 12px;
}

#content #list ul li p:nth-of-type(1) {
	font-size: 14px;
	color: #b5b5b5;
	margin: 10px 0 0 68px;
}

#content #list ul li p:nth-of-type(2) {
	font-size: 14px;
	color: #585d68;
	margin: 14px 0 0 0;
}

#content #list ul li img:nth-of-type(1) {
	width: 46px;
	height: 46px;
	float: left;
	object-fit: cover;
}

#content #list ul li img:nth-of-type(2) {
	width: 8px;
	height: 8px;
	margin: 8px 7px 0 11px; 
}

#content #list li:first-child span:nth-of-type(1) {
	margin-left: 0;
	color: #2399f1;
}

#content #list .selected {
	float: left;
	position: relative;
	margin: -32px 0 0 -29px;
	width: 3px;
	height: 156px;
	background-color: #2399f1;
}

#content #list .messageNum {
	float: right;
	width: 24px;
	height: 24px;
	background-image: linear-gradient(0deg, 
		#1991eb 0%, 
		#2ea1f8 100%);
	border-radius: 12px;
	font-size: 14px;
	color: #ffffff;
	text-align: center;
	line-height: 24px;
}


#content #detail .toolBar {
	border-bottom: solid 1px #e6e9ec;
	height: 70px;
}

#content #detail .toolBar > span {
	font-size: 18px;
	color: #585d68;
	margin-left: 30px;
	line-height: 70px;
}

#content #detail .toolBar > div {
	float: right;
}

#content #detail .arrow {
	display: inline-block;
	margin-top: 16px;
	margin-right: 20px;
	background-image: linear-gradient(0deg, 
		#f1f3f7 0%, 
		#ffffff 100%), 
	linear-gradient(
		#ffffff, 
		#ffffff);
	background-blend-mode: normal, 
		normal;
	border-radius: 4px;
	border: solid 1px #ced0da;
}

#content #detail .arrow input {
	padding: 12px 16px;
}

#content #detail .tool {
	display: inline-block;
	margin-right: 20px;
	background-image: linear-gradient(0deg, 
		#f1f3f7 0%, 
		#ffffff 100%), 
	linear-gradient(
		#ffffff, 
		#ffffff);
	background-blend-mode: normal, 
		normal;
	border-radius: 4px;
	border: solid 1px #ced0da;
}

#content #detail .tool input {
	padding: 8px 12px;
}

#content #detail .toolBar span {
	font-size: 14px;
	color: #56688a;
}

#content #detail ul {
	list-style-type: none;
	padding: 0;
}

#content #detail > ul {
	overflow-y: auto; 
	margin: 0;
	height: calc(100vh - 150px);
}

#content #detail ul ul {
	padding: 15px 57px 5px 30px;
}

#content #detail ul ul li {
	padding: 10px 0;
}

#content #detail ul img:nth-of-type(1) {
	width: 46px;
	height: 46px;
	float: left;
	object-fit: cover;
}

#content #detail ul span:nth-of-type(1) {
	font-family: ProximaNova-Semibold;
	font-size: 16px;
	color: #585d68;
	margin-left: 20px;
}

#content #detail ul span:nth-of-type(2) {
	font-size: 14px;
	color: #7f8fa4;
	margin-left: 8px;
}

#content #detail ul p {
	font-size: 14px;
	color: #585d68;
	margin-left: 66px;
	margin-bottom: 0;
	box-sizing: border-box;
}

#content #detail ul img:nth-of-type(2) {
	width: 156px;
	height: 100px;
	margin-left: 72px;
	margin-top: 18px;
}

#content #detail ul img:nth-of-type(3) {
	width: 156px;
	height: 100px;
	margin-left: 14px;
	margin-top: 18px;
}

#content #detail .divider {
	display: flex;
}


#content #detail .divider p {
	font-size: 14px;
	color: #7f8fa4;
	flex: 1;
	text-align: center;
	margin: 8px 20px;
}


#content #detail .new p {
	color: #2399f1;
}

#content #detail .divider div {
	height: 1px;
	background-color: #e5e8ee;
	margin: 14px 0;
	flex: 2.5;
}

#content #detail .new div {
	background-color: #2399f1;
}

#content #detail .messageBar {
	margin-left: 29px;
	margin-right: 31px;
	background-color: #ffffff;
	border-radius: 4px;
	border: solid 1px #dfe3e9;
}

#content #detail .messageBar input[type="image"] {
	width: 54px;
	height: 54px;
	float: left;
}

#content #detail .messageBar input[type="text"] {
	margin-left: 0;
	height: 54px;
	width: calc(100% - 54px);
	border: 0px;
	outline: none;
}
